<app-banner-widget [heading]="' About Us'"></app-banner-widget>
<div class="section about">


  <p>
    The name of the business is MOTOR SURGERY Auto Service and Repairs, a subsidiary of SEWGAMO Holding a Black-owned
    Company established in 2016. The Workshop operates from a 175 square metre premises, which is on the main road
    through Edenvale, in the, “Motor Town” area, at <b>109 Van Riebeeck Road, EDENVALE</b> which is +- 18 km from
    Sandton; +-
    7.8 km from Bedfordview; +- 10.1 km from Eastgate; +- 4 km from Greenstone; +- 9.6 km from Kempton Park; +- 21.8 km
    from Waterfall and Midrand; and +- 21.3 km from Boksburg.
  </p>

  <p>
    The customer base is mainly focused in the five areas of Johannesburg and these are: SANDTON, BEDFORDVIEW; EASGATE;
    GREENSTONE; KEMPTON PARK; and WATERFALL and MIDRAND, as well as BOKSBURG. Customer acquisition is primarily done
    through: Private Agents or Institution based agents. Private Agents are individuals working in establishments whose
    customers are likely to look for car service and repairs or those that are having networks that are likely to gain
    access to individuals that are likely to look for car service and repairs. Institutions based agents are either
    individuals working in areas such as office parks; break-down and tow-trucks; referrals from other repair centres;
    sales people from car dealerships, etc.
  </p>
  <br>
  <div class="action">


    <a routerLink="/book"><button>Make a booking</button></a>
    <a routerLink="/our-vision-mission-values"><button>Read OUR VISION, MISSION AND VALUES</button></a>

  </div>
</div>
