img{
    width: 50%;
    margin: .5em auto !important;
}

.imagew{
    text-align: left;
}
.card-link{
    padding: 1em;
    border: 1px dotted gray;
    display: block;
    width: fit-content;
    margin-top: 1em;
    cursor: pointer;

}