<div class="slider">
  <div class="slide">

    <div class="scroller scroller-phone" id="scroller">
      <img src="assets/images/phone-banner-1.png" alt="">
      <img src="assets/images/phone1.png" alt="">
      <img src="assets/images/phone3.png" alt="">
    </div>

    <div class="scroller scroller-pc" id="scroller2">
      <img src="assets/images/pc1.png" alt="">
      <img src="assets/images/pc2.png" alt="">
      <img src="assets/images/pc3.png" alt="">
    </div>
    <!-- 
    <img class="menu" *ngIf="slider === 2" src="assets/images/phone-banner-1.png" alt="">
    <img class="menu" *ngIf="slider === 1" src="assets/images/phone1.png" alt=""> -->
    <div class="intro">
      <h2>
        We are Most reliable Car services , Repairs & Replacements for all makes and models
      </h2>

      <a routerLink="/quote/add"><button>Get a Quote</button></a>

    </div>
  </div>
</div>
