.upload-preview{
    text-align: center;
    padding: 0;
    .user-dp{
        font-size: 1.5em;
        display: block;
        text-align: center;
        padding: 1em;
    }

    img{
        width: 100%;
    }
}